

$primary: #FCFCFC;
$secondary: #1D1E22;
$accent: #FFD166 ;
$silver: #F3F3F3;
$grey: #6D6E6F;
$purple:#EF476F;
$pink:#EF476F;









//screen sizes
$iphone-x: 375px;
$iphone-5: 320px;
$tablet: 768px;
$laptop: 1366px;
$desktop: 1080px;
$desktop-lg: 2560px;

$first-breakpoint: 768px;
$laptop-sm: 1024px;
$third-breakpoint: 1500px;


